.clear {
  clear: both;
}
.nobr {
  white-space: nowrap;
}
@font-face {
  font-family: "a3-portfolio-dashboard";
  src: url("../fonts/a3-portfolio-dashboard.eot");
  src: url("../fonts/a3-portfolio-dashboard.eot?#iefix") format("embedded-opentype"), url("../fonts/a3-portfolio-dashboard.woff") format("woff"), url("../fonts/a3-portfolio-dashboard.ttf") format("truetype"), url("../fonts/a3-portfolio-dashboard.svg#a3-portfolio-dashboard") format("svg");
  font-weight: normal;
  font-style: normal;
}
#a3_portfolio_data_meta_box .inside {
  padding: 0;
  margin: 0;
}
#a3_portfolio_data_meta_box .a3rev_panel_container {
  margin: 0 !important;
}
#a3_portfolio_data_meta_box .a3rev_panel_container ul.a3-metabox-data-tabs li.portfolio_gallery_options a:before {
  content: "\e001";
}
#a3_portfolio_data_meta_box .a3rev_panel_container ul.a3-metabox-data-tabs li.card_description_options a:before {
  font-family: dashicons !important;
  content: "\f123";
}
#a3_portfolio_data_meta_box .a3rev_panel_container ul.a3-metabox-data-tabs li.portfolio_sticky_options a:before {
  font-family: dashicons !important;
  content: "\f481";
}
#a3_portfolio_data_meta_box .a3rev_panel_container ul.a3-metabox-data-tabs li.single_layout_options a:before {
  content: "\e004";
}
#a3_portfolio_data_meta_box .a3rev_panel_container ul.a3-metabox-data-tabs li.portfolio_attributes_options a:before {
  content: "\e003";
}
#a3_portfolio_data_meta_box .a3rev_panel_container ul.a3-metabox-data-tabs li.portfolio_button_options a:before {
  content: "\e002";
}
#a3_portfolio_data_meta_box .a3rev_panel_container ul.a3-metabox-data-tabs li a:before {
  margin-right: 7px;
  font-size: 16px;
  margin-top: 10px;
  content: "\e004";
}
#a3_portfolio_data_meta_box .a3rev_panel_container #portfolio_images_container {
  padding: 10px 15px;
}
#a3_portfolio_data_meta_box .a3rev_panel_container #portfolio_images_container ul {
  margin: 0;
  padding: 0;
}
#a3_portfolio_data_meta_box .a3rev_panel_container #portfolio_images_container ul:after,
#a3_portfolio_data_meta_box .a3rev_panel_container #portfolio_images_container ul:before {
  content: " ";
  display: table;
}
#a3_portfolio_data_meta_box .a3rev_panel_container #portfolio_images_container ul:after {
  clear: both;
}
#a3_portfolio_data_meta_box .a3rev_panel_container #portfolio_images_container ul li.metabox-sortable-placeholder:after {
  font-family: "a3-portfolio-dashboard" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 60px;
  color: #ddd;
  content: "\e001";
  border: 3px dashed #ddd;
}
#a3_portfolio_data_meta_box .a3rev_panel_container #portfolio_images_container ul ul.actions {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 2px;
  display: none;
}
#a3_portfolio_data_meta_box .a3rev_panel_container #portfolio_images_container ul ul.actions li {
  float: right;
  margin: 0 0 0 2px;
}
#a3_portfolio_data_meta_box .a3rev_panel_container #portfolio_images_container ul ul.actions li a {
  width: 1em;
  margin: 0;
  height: 0;
  display: block;
  overflow: hidden;
}
#a3_portfolio_data_meta_box .a3rev_panel_container #portfolio_images_container ul ul.actions li a.delete {
  display: block;
  text-indent: -9999px;
  position: relative;
  height: 1em;
  width: 1em;
  font-size: 1.4em;
}
#a3_portfolio_data_meta_box .a3rev_panel_container #portfolio_images_container ul ul.actions li a.delete:before {
  font-family: "a3-portfolio-dashboard" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  background-color: #000;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  content: "\e000";
}
#a3_portfolio_data_meta_box .a3rev_panel_container #portfolio_images_container ul ul.actions li a.delete:hover:before {
  background-color: #a00;
}
#a3_portfolio_data_meta_box .a3rev_panel_container #portfolio_images_container ul ul.actions li a.tips {
  cursor: pointer;
}
#a3_portfolio_data_meta_box .a3rev_panel_container #portfolio_images_container ul ul.actions li a.view {
  display: block;
  text-indent: -9999px;
  position: relative;
  height: 1em;
  width: 1em;
  font-size: 1.4em;
}
#a3_portfolio_data_meta_box .a3rev_panel_container #portfolio_images_container ul li.add,
#a3_portfolio_data_meta_box .a3rev_panel_container #portfolio_images_container ul li.image,
#a3_portfolio_data_meta_box .a3rev_panel_container #portfolio_images_container ul li.metabox-sortable-placeholder {
  width: 80px;
  float: left;
  cursor: move;
  border: 1px solid #d5d5d5;
  margin: 9px 9px 0 0;
  background: #f7f7f7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#a3_portfolio_data_meta_box .a3rev_panel_container #portfolio_images_container ul li.add img,
#a3_portfolio_data_meta_box .a3rev_panel_container #portfolio_images_container ul li.image img,
#a3_portfolio_data_meta_box .a3rev_panel_container #portfolio_images_container ul li.metabox-sortable-placeholder img {
  width: 100%;
  height: auto;
  display: block;
}
#a3_portfolio_data_meta_box .a3rev_panel_container #portfolio_images_container ul li:hover ul.actions {
  display: block;
}
#a3_portfolio_data_meta_box .a3rev_panel_container .add_portfolio_images {
  padding: 0 12px 10px;
}
#a3_portfolio_data_meta_box .a3rev_panel_container .portfolio_attributes .a3-metabox-item.open h3,
#a3_portfolio_data_meta_box .a3rev_panel_container .portfolio_attributes .a3-metabox-item.closed h3 {
  cursor: move;
}
#a3_portfolio_data_meta_box .a3rev_panel_container .portfolio_attributes .a3-metabox-item h3 a.delete {
  color: red;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  float: right;
}
#a3_portfolio_data_meta_box .a3rev_panel_container .portfolio_attributes .a3-metabox-item h3 .handlediv {
  position: relative;
  height: 16px;
  width: 16px;
  right: auto;
  margin: 2px 10px 0 0;
}
#a3_portfolio_data_meta_box .a3rev_panel_container .portfolio_attributes .a3-metabox-item input[type="text"],
#a3_portfolio_data_meta_box .a3rev_panel_container .portfolio_attributes .a3-metabox-item textarea {
  width: 100%;
  padding: 4px;
}
#a3_portfolio_data_meta_box .a3rev_panel_container .portfolio_attributes .a3-metabox-item table {
  background: #fdfdfd;
  border-top: 1px solid #dfdfdf;
}
#a3_portfolio_data_meta_box .a3rev_panel_container .portfolio_attributes .a3-metabox-item table .minus,
#a3_portfolio_data_meta_box .a3rev_panel_container .portfolio_attributes .a3-metabox-item table .plus {
  margin-top: 2px;
}
#a3_portfolio_data_meta_box .a3rev_panel_container .portfolio_attributes .a3-metabox-item table .fr {
  float: right;
}
#a3_portfolio_data_meta_box .a3rev_panel_container .portfolio_attributes .a3-metabox-item .chosen-container-multi {
  width: 100% !important;
  max-width: none;
}
#a3_portfolio_data_meta_box .a3rev_panel_container .portfolio_attributes .a3rev-ui-multiselect {
  width: 100% !important;
  max-width: none;
}
#a3_portfolio_data_meta_box .a3-portfolio-metabox-icon:before {
  font-family: "a3-portfolio-dashboard" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#a3_portfolio_data_meta_box .forminp-switcher_checkbox .iPhoneCheckContainer { width: 140px !important; }
#a3_portfolio_data_meta_box .forminp-switcher_checkbox .iPhoneCheckContainer .iPhoneCheckLabelOff { width: 130px !important; }
#a3_portfolio_data_meta_box .forminp-onoff_checkbox .iPhoneCheckContainer { width: 85px !important; }
#a3_portfolio_data_meta_box .forminp-onoff_checkbox .iPhoneCheckContainer .iPhoneCheckLabelOff { width: 65px !important; }
#a3_portfolio_data_meta_box .chosen-container { min-width: 100px; }
